html{

    background-color: #222222;

}

#PhoneDiv{
    margin: 10px;
    width: 33%;
    height: 200px;
    border-bottom: 3px solid #FFFFFF;
}

span{
    color: white;
}

select{
    background-color: #222222;
    color: white;
    overflow-y: auto;
}


p{

    font-size: 40px;
    font-weight: bold;
    font-family: sans-serif;
    color: #FFFFFF;

}

a{
    color: white;
}